<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_Projem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web_Projem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body style="overflow: auto;overflow-x:hidden;background-color:rgb(30,30,30)">

    <div class="row">
        <div class="col-2" style="height:100vh;background-color:black;position:fixed">

            <div>
                <h1 style="color:white">SaüLine</h1>
                <ul class="nav flex-column">
                    @* home *@
                    <li class="nav-item">

                        <a class="nav-link" style="color:white" asp-controller="Home" asp-action="Index"><i class="material-icons">home</i>     Anasayfa</a>
                    </li>
                    @*Search*@
                    <li class="nav-item">

                        <button class="btn btn-outline-secondary" style="color:white;border:none" onclick="Arama()"><i class="material-icons">search</i>   Arama</button>
                        @* aram kisimi yazilacak*@
                        <div style="display:none;color:white;" id="search">
                            @* onkeypress fonksiyonu eklenecek*@
                           <input type="text" placeholder="Ara..." style="background-color:black;color:white;width:80%">
                            <button class="btn btn-outline" style="border:none;width:15%;color:white" onclick="DbAra()"><i class="material-icons">search</i></button>
                           @*kişiler sergilenecek*@
                           <div style="display:none;" id="sonuc"> 
                                bişeyler
                           </div>
                        </div>

                    </li>
                    @*Attachments*@
                    <li class="nav-item">
                        
                        <button class="btn btn-outline-secondary" style="color:white;border:none;" onclick="Bildirim()"><i class="material-icons">attachment</i>      Bildirimler</button>
                        @* bildirimler ekelenecek *@
                        <div style="display:none;color:white" id="attachment"> bildirim falan filan</div>
                    
                    </li>
                    @*Profile*@
                    <li class="nav-item">

                        <a class="nav-link" style="color:white" asp-controller="Home" asp-action="Index"><i class="material-icons">person</i>       Profilim</a>

                    </li>

                </ul>

            </div>




        </div>
        <div class="col-2" style="background-color:rgb(30,30,30)"></div>
        <div class="col-10" style="background-color:rgb(30,30,30)">

            <main role="main" class="pb-3" ">
                @RenderBody()
            </main>

        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
                @await RenderSectionAsync("Scripts", required: false)
    <script>
        function Arama() {
            var x = document.getElementById("search");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function Bildirim() {
            var x = document.getElementById("attachment");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function DbAra() {
            var x = document.getElementById("sonuc");
            if (x.style.display === "none") {
                @*db işlemleri *@
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</body>

</html>
