<hr />
<div class="row" style="height:95%;background-color:rgb(30,30,30)">
    <div class="col-2"></div>
    <div class="col-4" style="border-style:solid;border-color:rgb(80,80,80);color:white;height:70%">
        <div class="row">
            <div>
               @TempData["ad"]
            </div>
            <div>
                Yeni gönderi paylaş
                <a asp-controller="Profil" asp-action="GonderiOlustur"> <i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
    <div class="col-6"></div>
</div>

@foreach(var item in ViewBag.Liste)
{


    <hr />
    <div class="row" style="height:95%;background-color:rgb(30,30,30)">
        <div class="col-2"></div>
        <div class="col-4" style="border-style:solid;border-color:rgb(80,80,80);color:white;height:70%">
            
            <div style="border-style:solid;border-radius:4%;border-color:rgb(35,35,35);">
                @TempData["ad"]
            </div>
            <div style="display:table;height:70%;width:100%">
                <image src="@item.Url" style="height:auto;width:fit-content;max-width:400px"></image>
            </div>
            <div style="border-style:solid;border-radius:2%;border-color:rgb(50,50,50);">
                @* buraya veritabanından çek*@
                
                <i class="material-icons" onclick="kalp(this)">favorite</i>
                <p>Açıklama</p>
                <p>begenlenler</p>
            </div>
            <div class="row">
                <div class="col-10"> <input type="text" placeholder="Yorum Ekle..." style="background-color:black;color:white;width:90%"></div>
                <div class="col-2"><button class="btn btn-outline-primary" style="border:none">paylaş</button></div>
            </div>
        </div>
        <div class="col-6"></div>
    </div>
}
