@*profil index*@

<hr />
<div class="row" style="height:95%;background-color:rgb(30,30,30)">
    <div class="col-2"></div>
    <div class="col-4" style="border-style:solid;border-color:rgb(80,80,80);color:white;height:70%">
        <div class="row">
            <div>
               Kullanıcıı adı 
            </div>
            <div>
                Yeni gönderi paylaş
                <button class="btn btn-outline-secondary" onclick="paylasim(true)"> <i class="material-icons">add</i></button>
            </div>
        </div>
    </div>
    <div class="col-6"></div>
</div>
<div class="row"  style="height:95%;background-color:rgb(30,30,30);">
    <div class="col-2"></div>
    <div class="col-4" style="border-style:solid;border-color:rgb(80,80,80);color:white;height:70%">
        <div id="gonderi" style="border-style:solid;border-radius:4%;border-color:rgb(35,35,35);display:none">
        <div  style="border-style:solid;border-radius:4%;border-color:rgb(35,35,35);">
            Kullınıcı Adı
        </div>
        <div style="display:table;height:70%;width:100%">
            <p>Url  giriniz:</p>
            <input type="text" placeholder="Paylaşacağınız url i giriniz...">
            
        </div>
        <div style="border-style:solid;border-radius:2%;border-color:rgb(50,50,50);">
            <p>Açıklama:</p>
            <input type="text" placeholder="açıklama...">
        </div>
        <div class="row">
            <div class="col-2"><button class="btn btn-outline-primary" style="border:none" onclick="paylasim(false)">İptal</button></div>
            <div class="col-2"><button class="btn btn-outline-primary" style="border:none">paylaş</button></div>
        </div>
        </div>
    </div>
    <div class="col-6"></div>
</div>

@for (var i = 0; i < 5; i++)
{


    <hr />
    <div class="row" style="height:95%;background-color:rgb(30,30,30)">
        <div class="col-2"></div>
        <div class="col-4" style="border-style:solid;border-color:rgb(80,80,80);color:white;height:70%">
            @* buralarıda vetirabanından çek *@
            <div style="border-style:solid;border-radius:4%;border-color:rgb(35,35,35);">
                Adı
            </div>
            <div style="display:table;height:70%;width:100%">
                <image src="https://www.sakarya.edu.tr/kutuphane/resimler/gorsel-kimlik/logo-yatay.jpg" style="height:auto;width:fit-content;max-width:400px"></image>
            </div>
            <div style="border-style:solid;border-radius:2%;border-color:rgb(50,50,50);">
                @* buraya veritabanından çek*@
                <i class="material-icons" onclick="kalp(this)">favorite</i>
                <p>Açıklama</p>
                <p>begenlenler</p>
            </div>
            <div class="row">
                <div class="col-10"> <input type="text" placeholder="Yorum Ekle..." style="background-color:black;color:white;width:90%"></div>
                <div class="col-2"><button class="btn btn-outline-primary" style="border:none">paylaş</button></div>
            </div>
        </div>
        <div class="col-6"></div>
    </div>
}
<script>
    var div = document.getElementById("gonderi");
    function paylasim(deger)
    {
        if(deger)
        {
            
            div.style.display = "contents";
        }
        else
        {
            div.style.display="none"
        }
    }
    
</script>